@model IEnumerable<pr0n2.Models.Cytaty>



<h2>@Html.DisplayNameFor(model => model.ID)</h2>


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th></th>
    </tr>



</table>
